<div>

    <form [formGroup]="createEmploiForm" (ngSubmit)="onSubmitCreate()">
        <h2>Création de l'emploi</h2>
      
        <label for="nomEntreprise">Nom de l'entreprise :</label>
        <input type="text" id="nomEntreprise" formControlName="nomEntreprise" required>
      
        <label for="nomPoste">Nom du poste :</label>
        <input type="text" id="nomPoste" formControlName="nomPoste" required>
      
        <button type="submit">Créer un emploi</button>
      </form>

      ----------------------------------------------------------------

    <form [formGroup]="emploiForm" (ngSubmit)="onSubmit()">
        <h2>Les emploies occupé par entre les deux dates par une personne :</h2>
        
        <label for="personneId">Id de la personne :</label>
        <input type="text" id="personneId" formControlName="personneId" required>

        <label for="dateDebut">Date de début :</label>
        <input type="date" id="dateDebut" formControlName="dateDebut" required>

        <label for="dateFin">Date de fin :</label>
        <input type="date" id="dateFin" formControlName="dateFin" required>
      
        <button type="submit">Chercher Personne</button>
      </form>
      <div *ngFor="let emp of emplois">
        {{emp.nomEntreprise}} - {{emp.nomPoste}}
      </div>
</div>